# API DOCUMENTATION
API_NAME=AI Inbox Copilot API
API_DESCRIPTION=API to automatically analyze emails and help Customer Service (CS) teams prioritize and respond faster.
API_VERSION=1.0.0
API_CONTACT_NAME=Josue Cruz
API_CONTACT_EMAIL=jozemmcrzbrgn@gmail.com
API_CONTACT_URL=https://www.linkedin.com/in/josuecruzbarragan/
API_LICENSE=MIT License
API_LICENSE_URL=https://github.com/JozCrzBrgn/AI-Inbox-Copilot/blob/main/LICENSE
# API SECURITY
SEC_JWT_SECRET=
SEC_ALGORITHM=HS256
SEC_AUTH_USERNAME=admin
SEC_AUTH_PASSWORD=your_super_secure_password
SEC_RATE_LIMIT=5/minute
# CORES
CORS_ALLOW_ORIGINS=*
CORS_ALLOW_METHODS=*
CORS_ALLOW_HEADERS=*
# AI AGENT OPENAI
OPENAI_API_KEY=sk-proj-more_caracteres
OPENAI_MODEL=your-gpt-ai-model
OPENAI_TEMPERATURE=0.3
OPENAI_MAX_TOKENS=500
OPENAI_TIMEOUT=30
OPENAI_CHEAP_MODEL=your-gpt-ai-cheap-model
OPENAI_CHEAP_TEMPERATURE=0.1
OPENAI_CHEAP_MAX_TOKENS=100
# SLACK
SLACK_WEBHOOK_URL=fake-slack-url
# POSTGRESQL
DB_HOST=pg_host
DB_PORT=5432
DB_NAME=pg_db_name
DB_USER=postgres
DB_PASSWORD=postgres
# FLET
API_URL=http://api:8000
URL_GITHUB=https://github.com/JozCrzBrgn
# REDIS
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=super_secure_password