fastapi~=0.135.2
uvicorn~=0.42.0
pydantic~=2.12.5
python-jose[cryptography]~=3.5.0
slowapi~=0.1.9
passlib[argon2]~=1.7.4
python-multipart~=0.0.22
pydantic-settings~=2.13.1
openai~=2.30.0
requests~=2.33.1
psycopg2-binary~=2.9.11
